.tech {
	&__container {
		max-width: 1500px;
		margin: 0 auto;
		padding: 0 20px;
	}
}

.myth-busters {
	padding-top: 133px;
	background: url(../img/myth-busters.png) no-repeat center top / cover;

	&__typed {
		padding-top: 85px;
		padding-bottom: 85px;
		background: url('../img/expect.png') no-repeat center top / cover;
	}
}

.breads {
	display: flex;
	align-items: center;
	margin-bottom: 50px;

	&__home-link {
		font-size: 16px;
		line-height: 170%;
		color: #1919c7;
		padding-right: 10px;
		transition: all 0.3s ease-out;

		&:hover {
			opacity: 0.8;
		}
	}

	&__this {
		font-size: 16px;
		line-height: 170%;
		color: #0a0a0a;
	}

	&__splash {
		font-size: 16px;
		line-height: 170%;
		color: #0a0a0a;
		padding-right: 10px;
	}
}

.tech {
	&__first-block {
		padding-top: 73px;
		padding-bottom: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__first-block-left {
		width: 50%;
		position: relative;
		padding-left: 125px;
		padding-right: 10px;
	}

	&__first-block--rotate {
		transform: rotate(90deg);
		position: absolute;
		width: 170px;
		left: -70px;
		top: 90px;

		&:before {
			width: 70px;
			content: "";
			right: 0;
			top: 50%;
			position: absolute;
			background: #727272;
			width: 70px;
			height: 1px;
		}
	}

	&__first-block-title {
		font-weight: bold;
		font-size: 64px;
		line-height: 125%;
		color: #0a0a0a;
	}

	&__first-block-title--blue {
		font-weight: bold;
		font-size: 64px;
		line-height: 125%;
		display: block;
		color: #1919c7;
	}

	&__first-block-right {
		width: 50%;
		padding-left: 10px;
	}

	&__first-block-right-text {
		line-height: 190%;
		max-width: 560px;
	}

	&__flex-container {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__box {
		width: 45%;
		margin-top: 40px;
	}

	&__box-img-cont {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}

	&__box-img {
		margin-top: 0px;
	}

	&__box-title {
		font-weight: bold;
		font-size: 24px;
		line-height: 170%;
		color: #0a0a0a;
		margin-bottom: 30px;
	}

	&__box-title-blue {
		font-weight: bold;
		font-size: 24px;
		line-height: 170%;
		color: #1919c7;
	}

	&__box-title-text {
		font-size: 16px;
		line-height: 170%;
	}

	&__new-way {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 90px;
		padding-bottom: 200px;
	}

	&__first-block-title--les {
		font-weight: bold;
		font-size: 40px;
		line-height: 125%;
		color: #0a0a0a;
		margin-bottom: 30px;
	}

	&__first-block-title--less-blue {
		font-weight: bold;
		font-size: 40px;
		line-height: 125%;
		color: #1919c7;
	}

	&__first-block-right-text {
		font-weight: normal;
		font-size: 18px;
		line-height: 170%;
	}

	&__right--bot {
		width: 679px;
		height: 450px;
		background: url(../img/bg-bottom-tech.svg) no-repeat;
		background-position: center;
		background-size: cover;
		border-radius: 50px;
		padding-left: 20px;
	}

	&__right--bot-title {
		font-style: italic;
		font-weight: bold;
		font-size: 18px;
		line-height: 170%;
		text-align: center;
		color: #1919c7;
		opacity: 0.6;
		margin-top: 70px;
		margin-bottom: 60px;
	}

	&__first-block-left--bot {
		padding-right: 20px;
	}

	&__text--punct {
		font-style: italic;
		font-size: 18px;
		line-height: 170%;
		color: #1919c7;
		opacity: 0.6;
		position: relative;
		width: 70%;
		margin: 25px auto;
		transform: translateX(30px);

		&:before {
			position: absolute;
			content: "";
			top: calc(50% - 7px);
			left: -30px;
			width: 10px;
			height: 10px;
			background: url(../img/Rectangle-punct.svg) no-repeat;
		}
	}

	&__text-bottom-block {
		width: 70%;
		font-style: italic;
		font-size: 18px;
		line-height: 170%;
		color: #1919c7;
		opacity: 0.6;
		margin: 0px auto;
		margin-top: 60px;
	}

	&__text-bottom-block--bold {
		font-style: italic;
		font-weight: 700;
		font-size: 18px;
		line-height: 170%;
		color: #1919C7;
		opacity: 0.5;
	}

	&__first-block-right-text--blue-big {
		color: #1919c7;
	}
}

// ----------------------- TEN BENEFITS --------------------------

.benefits__first-block {
	margin-top: 0px;
	align-items: flex-start;

	.tech__first-block-title {
		margin-bottom: 30px;
	}

	.tech__first-block-title--blue-benefits {
		display: inline;
	}

	.tech__first-block--rotate {
		top: 165px;
		width: 230px;
		left: -115px;
	}

	.tech__first-block-right {
		margin-top: 0px;
	}
}

.ten-benefits {
	padding-top: 133px;
	padding-bottom: 155px;

	background: url(../img/myth-busters.png) no-repeat center top / cover;

	&__text {
		max-width: 1340px;
		padding-left: 125px;
		display: flex;
		justify-content: space-between;
	}
}

.benefits {
	&__item {
		margin-top: 100px;
	}

	&__block {
		max-width: 1220px;
		margin: 0 auto;
		padding: 20px;
	}

	&__number {
		font-weight: bold;
		font-size: 24px;
		line-height: 170%;
		color: #1919c7;
		position: relative;
		margin-left: 25px;
		margin-bottom: 40px;

		&:before {
			position: absolute;
			content: " ";
			top: 10px;
			left: -25px;
			width: 10px;
			height: 10px;
			background: url(../img/Rectangle-punct.svg);
		}
	}

	&__item-title {
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 24px;
		line-height: 170%;
		color: #0a0a0a;
		margin-bottom: 35px;
	}

	&__item-img {
		margin-right: 20px;
	}

	&__item-text {
		font-size: 18px;
		line-height: 190%;
	}

	&__bg-gradient {
		background: url(../img/bg-benefits-gtradient.svg) no-repeat center top;
		margin: 0 auto;
		margin-top: 100px;
		padding-bottom: 90px;
	}

	&__typing {
		max-width: 1440px;
		margin: 0 auto;
		text-align: center;
		padding-top: 90px;

		span {
			font-size: 28px;
			line-height: 125%;
			color: #757783;
		}
	}

	&__typing-span {
		font-size: 28px;
		line-height: 125%;
		color: #1919c7 !important;
	}
}

.benefits {
	&__bottom-left {
		position: relative;
		width: 75%;
	}

	&__bottom-right {
		width: 25%;
	}

	&__about-text {
		margin-left: 120px;
		line-height: 170%;
		padding-right: 50px;
	}

	&__botoom-ava {
		max-width: 230px;
		padding: 10px;
		border: 1px solid #1919c7;
		border-radius: 50%;
		margin-top: 80px;
	}
}

.benefits__bottom-block {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;

	.tech {
		&__first-block--rotate {
			margin-top: 0;
			top: 95px;
			width: 180px;
		}

		&__first-block-title {
			margin-bottom: 30px;
			font-size: 40px;
			margin-left: 120px;
			max-width: 100%;
		}

		&__first-block-title--blue {
			font-size: 40px;
			display: inline;
		}
	}
}

.tech__background-benefits {
	height: auto;
	padding-bottom: 160px;
}

.box {
	display: table;
	height: 100%;
	width: 100%;
	background: url("https://images.unsplash.com/photo-1432836627967-171c58844bde?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=fe1a7db794061b008680f417df8ff6e0") no-repeat center;
	background-size: cover;
	position: relative;
}

.box:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 0;
}

.typed__title {
	font-size: 28px;
	line-height: 125%;
	text-align: center;
	color: #757783;
	height: 28px;
	span {
		color: #1919C7;
	}
}

.typed-cursor {
	opacity: 1;
	font-weight: 200;
	animation: blink 0.7s infinite;
}

.myth-busters-block {
	padding-bottom: 150px;
}

.myth-busters__text {
	max-width: 70%;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.myth__bubel {
	position: absolute;
}

.myth__bubel-1 {
	top: 50%;
	left: 100px;
	width: 40px;
	animation: 5.5s linear 1s infinite alternate bubel_anim1;
}

.myth__bubel-2 {
	top: 30%;
	right: 100px;
	animation: 5.5s linear 1s infinite alternate bubel_anim2;
}


.myth__bubel-3 {
	top: 70%;
	left: 190px;
	width: 90px;
	animation: 7.5s linear 1s infinite alternate bubel_anim1;
}

.myth__bubel-4 {
	top: 20%;
	right: 230px;
	animation: 3.5s linear 1s infinite alternate bubel_anim2;
}


.myth__bubel-5 {
	top: 30%;
	left: 70px;
	width: 40px;
	animation: 5.5s linear 1s infinite alternate bubel_anim1;
}

.myth__bubel-6 {
	top: 80%;
	right: 130px;
	width: 70px;
	animation: 5.5s linear 1s infinite alternate bubel_anim2;
}

@keyframes bubel_anim1 {
	0% {
		transform: translateX(0px);
	}

	25% {
		transform: translateY(14px);
	}

	50% {
		transform: translateY(-17px);
	}

	75% {
		transform: translateX(-17px);
	}

	100% {
		transform: translateY(18px);
	}
}

@keyframes bubel_anim2 {
	0% {
		transform: translateX(0px);
	}

	25% {
		transform: translateY(19px);
	}

	50% {
		transform: translateY(-16px);
	}

	75% {
		transform: translateX(12px);
	}

	100% {
		transform: translateY(19px);
	}
}


.benefits__bg-bubels {
	position: relative;
}