@media (max-width: 1140px) {
  .header {
    &__menu {
      margin-left: 40px;
    }

    &__menu-list {
      margin-right: 15px;
    }

    &__menu-link {
      font-size: 16px;
    }

    &__menu-link.active {
      position: relative;
      &:before {
        max-width: 100%;
        width: 100%;
        height: 3px;
      }
    }
    &__logo-img {
      width: 200px;
    }

    &__menu-link--orange {
      span {
        top: 0px;
        right: -17px;
      }
    }

    &__button {
      max-width: 178px;
      height: 50px;
    }

    &__button-text {
      font-size: 16px;
      span {
        margin-left: 10px;
      }
    }
  }

  .tech {
    &__background {
      height: 500px;
    }

    &__first-block {
      margin-top: 50px;
    }

    &__first-block-title {
      font-size: 44px;
    }

    &__first-block-title--blue {
      font-size: 44px;
    }

    &__first-block-right-text {
      line-height: 170%;
      font-size: 16px;
    }

    &__first-block--rotate {
      left: -60px;
      top: 115px;
    }
    &__flex-container {
      margin-top: 40px;
    }

    &__box {
      width: 48%;
      margin-top: 30px;
    }

    &__box-img {
      width: 250px;
    }

    &__box-title {
      font-size: 20px;
      line-height: 150%;
    }

    &__box-title-blue {
      font-size: 20px;
      line-height: 150%;
    }

    &__box-title-text {
      font-size: 16px;
      line-height: 155%;
    }

    &__new-way {
      margin-top: 60px;
    }

    &__first-block-title--les {
      font-size: 30px;
      line-height: 125%;
    }

    &__first-block-title--less-blue {
      font-size: 30px;
    }

    &__first-block-right-text {
      font-size: 16px;
      line-height: 150%;
    }

    &__right--bot {
      width: 50%;
    }

    &__right--bot-title {
      font-size: 17px;
      line-height: 150%;
      margin-top: 50px;
      margin-bottom: 40px;
    }

    &__text--punct {
      font-size: 17px;
      width: 100%;
      margin: 25px auto;
      transform: translateX(20px);
      &:before {
        left: -24px;
      }
    }

    &__text-bottom-block {
      width: 100%;
      font-size: 17px;
      line-height: 150%;
      margin-top: 70px;
    }
  }
  .benefits__first-block {
    margin-top: 0;
    .tech__first-block--rotate {
      top: 145px;
    }
  }

  .benefits {
    &__bottom-left {
      width: 75%;
    }

    &__bottom-right {
      width: 25%;
    }

    &__about-text {
      margin-left: 70px;
      line-height: 150%;
      padding-right: 35px;
      font-size: 17px;
    }

    &__botoom-ava {
      max-width: 180px;
      width: 100%;
      margin-top: 100px;
    }
  }

  .benefits__bottom-block {
    .tech {
      &__first-block-title {
        font-size: 35px;
        margin-left: 70px;
      }

      &__first-block-title--blue {
        font-size: 35px;
      }
    }
  }

  
.tech__background-benefits{
  height: auto;
  padding-bottom: 30px;
}
}

@media (max-width: 918px) {
  .header__menu {
    display: none;
  }

  .benefits__botoom-ava {
    max-width: 140px;
  }
}

@media (max-width: 718px) {
  .tech {
    &__first-block {
      margin-top: 50px;
      display: block;
    }

    &__first-block-title {
      font-size: 39px;
      text-align: center;
    }

    &__first-block-title--blue {
      font-size: 39px;
      display: inline;
    }

    &__first-block-right-text {
      line-height: 150%;
      margin: 0 auto;
    }

    &__first-block--rotate {
      display: none;
    }

    &__first-block-left,
    &__first-block-right {
      width: 100%;
      padding: 0;
    }

    &__first-block--rotate {
      left: -60px;
      top: 115px;
    }
    &__flex-container {
      margin-top: 20px;
      display: block;
    }

    &__box {
      width: 90%;
      margin-top: 30px;
    }

    &__new-way {
      margin-top: 50px;
      display: block;
    }

    &__first-block-title--les {
      text-align: center;
    }

    &__right--bot {
      width: 80%;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
      height: auto;
      padding-bottom: 40px;
    }

    &__right--bot-title {
      padding-top: 30px;
      margin-bottom: 30px;
    }

    &__text--punct {
      width: 100%;
      transform: translateX(0px);
      padding: 0;
      margin-left: 20px;
      &:before {
        left: -17px;
      }
    }

    &__text-bottom-block {
      margin-top: 50px;
      padding: 0;
    }
  }

  .benefits__first-block {
    .tech__first-block-right-text {
      margin-bottom: 20px;
    }
  }

  .benefits {
    &__block {
      padding: 10px;
    }

    &__number {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__item-title {
      font-size: 20px;
      margin-bottom: 30px;
    }

    &__item-img {
      width: 35px;
      margin-right: 15px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 160%;
    }
  }

  .benefits {
    &__bottom-left {
      width: 100%;
    }

    &__bottom-right {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__about-text {
      margin-left: 0px;
      padding-right: 0px;
      font-size: 16px;
    }

    &__botoom-ava {
      max-width: 200px;
      width: 100%;
      margin-top: 20px;
    }
  
    &__typing{
    
      span{  
      font-size: 20px;
  }
    }
  
  &__typing-span{
    font-size: 20px;
  }



  }

  .benefits__bottom-block {
    display: block;
    .tech {
      &__first-block-title {
        font-size: 30px;
        margin-left: 0px;
      }

      &__first-block-title--blue {
        font-size: 30px;
      }

     

    }
  }

   

}
