.first-container {
    max-width: 1490px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.first {
    padding-top: 120px;
    &-bg {
        background: url('../img/header-bg.jpg') no-repeat center top / cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__title {
        font-family: "Kollektif", sans-serif;
        font-weight: 700;
        font-size: calc(50px + 14 * (100vw / 1920));
        color: #0A0A0A;
        padding-left: 125px;
        width: 575px;
        padding-right: 20px;
        line-height: 125%;
        flex-shrink: 0;

        span {
            font-weight: 700;
            color: #1919C7;
        }
    }

    &__text {
        padding-top: 16px;
        font-size: 18px;
        color: #757783;
        max-width: 57.5%;
        line-height: 190%;
    }
    &-anim {
        margin: 0 auto;
        padding-top: 35px;
        padding-right: 35px;
        max-width: 980px;
    }


    &__scroll {
        left: -57px;
        top: 91px;
        &:after {
            right: 0;
        }
    }

}